.converter {
  padding: 0 98px;
}

.converter__title {
  margin-top: 60px;
  margin-bottom: 70px;
  font-weight: 700;
  font-size: 41px;
  line-height: 140%;
}

.converter__load {
  height: 100px;
  margin-left: auto;
  width: 64%;
  margin-top: 5%;
}
