.footer {
  padding: 50px 98px;
  background-color: $grey-footer-bg;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.footer__about {
  width: 260px;

  address {
    margin-top: 20px;
    font-weight: normal;
    font-style: normal;
    font-size: 12px;
    line-height: 140%;
    color: $grey-footer-text;
  }
}

.footer__nav {
  display: flex;
  flex-direction: column;
  margin-top: 10px;

  .nav__item {
    padding-bottom: 20px;
    padding-right: 0;
    font-weight: 500;

    &:last-child {
      padding-bottom: 0;
    }
  }
}

.footer__phone {
  font-weight: normal;
  font-size: 12px;
  line-height: 140%;
  padding-left: 35px;
  color: $grey-footer-text;
  background-repeat: no-repeat;
  margin-top: 10px;

  a {
    font-family: $roboto;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    display: block;
    color: $black-text;
  }

  &--short {
    background-image: url("../../img/mob-phone-icon.svg");
    background-position: left 10px top 2px;
    width: 205px;
  }

  &--number {
    background-image: url("../../img/phone-icon.svg");
    background-position: left top 2px;
    width: 165px;
  }
}
