.form {
  display: grid;
  grid-template-columns: 525px 120px 525px;
  margin-bottom: 15px;
}

.form__input-container {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 22px;

  label {
    margin-bottom: 30px;
  }
}

.form__input {
  display: flex;
  margin-bottom: 85px;
}

.form__amount {
  min-width: 390px;
  min-height: 60px;
  text-align: center;
  border: 1px solid $black-text;
  border-radius: 4px;
  margin-right: 15px;
  font-size: 24px;

  &--calendar {
    position: relative;
    display: block;
    cursor: pointer;

    &::before {
    content: "";
    background: url("../../img/calendar.svg") no-repeat;
    position: absolute;
    top: 7px;
    right: 35px;
    width: 41px;
    height: 44px;
    }
  }
}

.form__select {
  min-width: 120px;
  min-height: 60px;
  font-size: 30px;
  padding-left: 23px;
  border: 1px solid $black-text;
  border-radius: 4px;
}

.form__arrows {
  margin: 69px auto 0;
}
.form__submit {
  width: 382px;
  margin-bottom: 85px;
  margin-left: auto;
  grid-column: 3;
}
