.history {
  margin: 0 98px;
  min-height: 477px;
  background: $white-header;
  border-radius: 0px 4px 4px 4px;
}

.history__title {
  margin: 0;
  padding: 40px 0 50px 70px;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

.history__list {
  column-count: 2;
  padding-left: 70px;
  padding-right: 123px;
  min-width: 392px;
  height: 233px;
  margin-bottom: 18px;
}

.history__item {
  display: flex;
  margin-bottom: 33px;
}

.history__item-date {
  margin-right: 40px;
}

.history__item-amount {
  margin-right: 13px;
}

.history__item-currency {
  margin-left: 13px
}
