.history {
  margin: 0 98px 110px;
  padding: 0 70px;
  background: $white-header;
  border-radius: 0px 4px 4px 4px;
}

.history__title {
  margin: 0;
  padding: 40px 0 50px 0;
  font-weight: 500;
  font-size: 28px;
  line-height: 140%;
}

.history__list {
  display: grid;
  position: relative;
  grid-template-columns: 1fr 1fr;
  min-width: 392px;
  height: 233px;
  margin-bottom: 50px;

  &::before {
    content: "";
    position: absolute;
    background: $grey-history-separator;
    top: -30px;
    left: 515px;
    width: 1px;
    height: 289px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.history__item {
  display: flex;
  margin-bottom: 33px;

  &:nth-child(2n) {
    justify-content: flex-end;
  }
}

.history__item-date {
  margin-right: 40px;
}

.history__item-amount {
  margin-right: 13px;
}

.history__item-currency {
  margin-left: 13px
}

.history__clear {
  width: 198px;
  height: 51px;
  margin-bottom: 39px;
}
