//fonts
$roboto: "Roboto", "Arial", sans-serif;

//colors
$black-text: #1F1E25;
$white-header: #F6F7FF;
$blue-active-link: #2C36F2;
$grey-footer-text: #707C87;
$grey-footer-bg: #F6F7FF;
$grey-history-separator: #C1C2CA;

